.dataimg {
    transition:transform 0.25s ease;
}

.dataimg:hover {
    -webkit-transform:scale(20); /* or some other value */
    transform:scale(20);
    position: absolute;
    z-index: 3;
}
table 
{

    table-layout:fixed;
    width:100%;
   
}
.ten{
    overflow: scroll;
}
td,th{
    overflow: block;
}
