doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700', rel='stylesheet')
  title Ramayana - Free Bootstrap 4 CSS Template
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  //
    Ramayana CSS Template
    https://templatemo.com/tm-529-ramayana
  // Additional CSS Files
  link(rel='stylesheet', href='assets/css/fontawesome.css')
  link(rel='stylesheet', href='assets/css/templatemo-style.css')
  link(rel='stylesheet', href='assets/css/owl.css')
// Wrapper
#wrapper
  // Main
  #main
    .inner
      // Header
      header#header
        .logo
          button.btn.btn-outline-info(type='button' style="margin-right:20px") Logout
      // Banner
  // Sidebar
  #sidebar
    .inner
      div(style=" padding-top: 30px;")
        img(src="assets/images/logo.png", alt="Logo" style="width: 50px ; height:50px; margin-right:10px;") 
        p(style="color: white; display: inline; font-size:25px ") FACE RECOGNITION
        
      // Menu
      nav#menu
        ul
          li
            a(href='index.html') Homepage
          li
            a(href='simple_page.html') History Acquaintance
          li
            a(href='shortcodes.html') History
          li
            a(href='https://www.google.com') Check-in
          li
            a(href='https://www.google.com') Statistical
      // Featured Posts
      .featured-posts
        .heading
          h2 Developed by
        .owl-carousel.owl-theme
          a(href='#')
            .featured-item
              img(src='assets/images/card0.jpg', alt='featured one')
              p Hà Duy Anh MSSV: 1912562
          a(href='#')
            .featured-item
              img(src='assets/images/card1.jpg', alt='featured two')
              p Nguyễn Công Thành MSSV: 1915144
          a(href='#')
            .featured-item
              img(src='assets/images/card2.jpg', alt='featured three')
              p Nguyễn Duy Vũ MSSV: 1915976
            // /.sidebar-menu
            // /.sidebar
        // Content Wrapper. Contains page content
        //- Phần khác biệt giữa các file
    .content-wrapper
  block content 
        //- block content phải bằng hàng với footer. File này khó từ đầu copy theo space
        //- Phần khác biệt giữa các file
  footer.main-footer

// Scripts
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/js/browser.min.js')
script(src='assets/js/breakpoints.min.js')
script(src='assets/js/transition.js')
script(src='assets/js/owl-carousel.js')
script(src='assets/js/custom.js')
